@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is my Lab5 </h1>
    <h5 class="display-4">I am Hoang Viet Gia Huy </h5>
    <h5 class="display-4">Viet0009@algonquinlive.com (040913982) </h5>
</div>